body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  background-color: #fff;
  padding: 7em;
  box-shadow: 0 0 2.2em rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-bottom: 10em;
  margin-left: 25em;
}

.centraliza-container {
  margin: center;
}

#dov {
  display: flex;
  justify-content: center;
  height: 575px;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
#kobe {
  display: inline-block;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 70px;
  margin-top: 50px;
}
#wpp {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

footer {
  padding: 50px;
}

.kobe {
  color: rgb(154, 165, 175);
  margin-right: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

.wpp {
  color: rgb(154, 165, 175);
  margin-right: 230px;
  font-family: Arial, Helvetica, sans-serif;
}
.nrf2 {
  color: rgb(154, 165, 175);
  margin-right: 550px;
  font-family: Arial, Helvetica, sans-serif;
}

.mdr {
  font-family: Arial, Helvetica, sans-serif;
}

.nrf1 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
